body, ul{
    padding: 0 !important;
    font-family: 'Verdana','Microsoft Yahei';
}

a, a:hover, a:visited, a:active, a:link, a:focus{
    text-decoration: none;
    outline: none;
}

.nav-logo img{
    display: inline-block;
}

.nav-logo{
    color: white;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    border-color: transparent;
    background-color: transparent;
}

#cover{
    background: url('http://qiniu.yoyoiii.top/GithubPage/assets/images/cover.jpg') center top no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.cover-bg{
    background-color: rgba(144,215,236, .05);
}

.jumbotron{
    margin-top: 30px;
    overflow: hidden;
    height: 920px;
    background-color: transparent;
    position: relative;
}

.page-header{
    border: 0;
    color: rgba(0,58,108, .6)
}

.page-header h1{
    animation-duration: 3s;
    animation-delay: 0;
}

.page-header h4{
    animation-duration: 3s;
    animation-delay: .5s;
}

.portrait-con{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; 
    animation-duration: 3s;
    animation-delay: 1.5s;
}

.portrait-pic{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;  
    box-shadow: 0 0 20px 2px rgb(255,254,249);
    z-index: 2;
}

.portrait-border{
    width: 330px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation-duration: 3s;
    z-index: 1;
}

.title{
    margin: 50px auto;
}

.title:hover{
    cursor: default;
}

.masonry{
    margin: 0 1%;
}

.photo{
    padding: 15px 15px 0 15px;
}

.thumbnail{
    border-color: transparent;
}

#videosets{
    height: 200px;
    margin: 50px 0;
}

.msg-title{
    margin-top: 50px;
}

.msg-txt{
    margin: 20px 0 40px 0;
    font-size: 18px;
}

.submit-btn{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    color: #bbb;
}

.submit-btn[disabled]{
    cursor: default;
}

.submit-btn[disabled]:hover{
    color: #bbb;
}

.submit-btn-active, .submit-btn-active:hover{
    background-color: #2570a1;
    color: #fff;
    border-color: #2570a1;
}

#contact{
    height: 300px;
    margin: 50px 0;
    background: url('../asset/images/cover.jpg') center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contact-con{
    width: 400px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #666;
}

.contact-sns{
    list-style: none;
    margin: 30px 0;
}

.contact-sns li{
    display: inline-block;
    margin: 0 10px;
}

.contact-sns a{
    color: #666;
}

.contact-sns a:hover{
    color: #2570a1;
    cursor: pointer;
}

/* 重写bootstrap中的popover */
.popover{
    padding: 0;
    border: 0;
}

.contact-info{
    line-height: 26px;
}

.footer{
    margin: 50px auto 50px;
}

/* 解决模态框打开时，垂直滚动条消失，而导致页面抖动 */
.modal-open{
    overflow-y: scroll;
}